<div id="<%= dom_id picture_user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Picture:</strong>
    <%= picture_user.picture_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= picture_user.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Like:</strong>
    <%= picture_user.like %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dislike:</strong>
    <%= picture_user.dislike %>
  </p>

</div>
