<%# turbo_stream_from(:picture_liked_or_disliked) %>

<div id="<%= dom_id picture %>">
  <% if current_admin_user %>
    <% begin %>
      <%= link_to(image_tag(picture.image.variant(resize_to_limit: [450, nil])), picture_path(picture)) %>
      <p class="text-sm text-gray-600 text-center italic mt-4"><%= picture.labels %></p>
    <% rescue ActiveStorage::InvariableError %>
      <p>Image <%= picture.id %> could not be resized. It is NOT shown to the users</p>
      <%= link_to(image_tag(picture.image), picture_path(picture)) %>
    <% end %>
  <% else %>
    <% begin %>
      <%= image_tag picture.image.variant(resize_to_limit: [450, nil]) %>
    <% rescue ActiveStorage::InvariableError %>
    <% end %>
  <% end %>
</div>

<%= render 'pictures/liking_form', picture:, user: current_user %>